p {
    border : 1px solid gray;
    border-radius : 5px;
    padding : 35px;
    box-shadow : 5px 5px #888888;
    background-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    background-image: url('pozadina.webp');
    margin: 0;
    padding: 0;
}

.game-container {
    position: relative;
    display: inline-block;
    margin-top: 50px;
}

.cake-image {
    width: 700px; /* Adjust based on your image size */
    height: auto;
}

.flame {
    position: absolute;
    width: 50px; /* Adjust based on your flame size */
    height: 50px; /* Adjust based on your flame size */
    background-image: url('flame.gif'); /* Path to your flame image */
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.timer, .best-time {
    margin: 20px;
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
}
